/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 {
  font-style: bold;
  color: dimgray;
  font-size: 15vw;
  text-align: center;
  flex-wrap: wrap;
}