/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 {
  font-style: bold;
  color: dimgray;
  font-size: 7vh;
  text-align: center;
  flex-wrap: wrap;
}

p {
  text-align: center;
  font-size: 2.5vh;
}

.my-icon {
  height: 10vw;
  width: 10vw;
}

.go-button {
  font-size: 6.5vw;
}

/*.next-button {
  width: 50vw;
  font-size: 4vw;
}*/

.my-scroll-box {
  overflow: "scroll";
}